name: Integration tests
on: [push]
defaults:
  run:
    working-directory: web
jobs:
  pull-request-checks:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install
        run: yarn install

      - name: Build
        run: yarn build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          env: true
          working-directory: web
          browser: chrome
          headless: true
          start: yarn dev
          wait-on: http://localhost:3000
        env:
          CYPRESS_SESSION_VALUE: ${{ secrets.CYPRESS_SESSION_VALUE }}
          UNSPLASH_ACCESS_KEY: ${{ secrets.UNSPLASH_ACCESS_KEY }}
          SANITY_USE_CDN: ${{ secrets.SANITY_USE_CDN }}
          SANITY_DATASET: ${{ secrets.SANITY_DATASET }}
          SANITY_PROJECT_ID: ${{ secrets.SANITY_PROJECT_ID }}
          SANITY_API_VERSION: ${{ secrets.SANITY_API_VERSION }}
          SANITY_PREVIEW_SECRET: ${{ secrets.SANITY_PREVIEW_SECRET }}
          SANITY_API_TOKEN: ${{ secrets.SANITY_API_TOKEN }}
          BASE_URL: ${{ secrets.BASE_URL }}
          SESSION_VALUE: ${{ secrets.CYPRESS_SESSION_VALUE }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          GH_APP_CLIENT_ID: ${{ secrets.GH_APP_CLIENT_ID }}
          GH_APP_CLIENT_SECRET: ${{ secrets.GH_APP_CLIENT_SECRET }}
